@font-face {
    font-family: DIN;
    src: url("fonts/D-DIN.otf")
}

@font-face {
    font-family: DIN-Bold;
    src: url("fonts/D-DIN-Bold.otf")
}

.sidenav {
    height: 100%;
    position: fixed;
    width: 100px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    border-right: solid black 2px;
    overflow-x: hidden;
    display: grid;
    grid-template-rows: 100px repeat(8, 1fr);
}

.sidenav a {
    text-decoration: none;
    text-align: center;
    color: #818181;
    width: 50%;
    margin: 10px auto;
    transition: 0.3s;
}

.sidenav .active_icon {
    grid-row: 1;
}

.sidenav .nav_gap {
    grid-row: 2 / span 4;
}

.sidenav_icon {
    width: 70%;
    transition: 0.3s;
}

.sidenav_icon:hover {
    opacity: 0.5;
}
