@font-face {
    font-family: DIN;
    src: url("fonts/D-DIN.otf")
}

@font-face {
    font-family: DIN-Bold;
    src: url("fonts/D-DIN-Bold.otf")
}

body {
    margin: 0;
    padding: 0;
    font-family: DIN;
    color: darkblue;
}

.background {
    background: -webkit-linear-gradient(0deg, rgba(3, 91, 170, 1) 0%, rgba(9, 73, 149, 1) 13.27%, rgba(17, 50, 121, 1) 34.6%, rgba(23, 33, 102, 1) 56.15%, rgba(26, 23, 90, 1) 77.87%, rgba(27, 20, 86, 1) 100%);
    background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0, rgba(3, 91, 170, 1)), color-stop(0.1327, rgba(9, 73, 149, 1)), color-stop(0.346, rgba(17, 50, 121, 1)), color-stop(0.5615, rgba(23, 33, 102, 1)), color-stop(0.7787, rgba(26, 23, 90, 1)), color-stop(1, rgba(27, 20, 86, 1)));
    background: -o-linear-gradient(0deg, rgba(3, 91, 170, 1) 0%, rgba(9, 73, 149, 1) 13.27%, rgba(17, 50, 121, 1) 34.6%, rgba(23, 33, 102, 1) 56.15%, rgba(26, 23, 90, 1) 77.87%, rgba(27, 20, 86, 1) 100%);
    background: -ms-linear-gradient(0deg, rgba(3, 91, 170, 1) 0%, rgba(9, 73, 149, 1) 13.27%, rgba(17, 50, 121, 1) 34.6%, rgba(23, 33, 102, 1) 56.15%, rgba(26, 23, 90, 1) 77.87%, rgba(27, 20, 86, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#035BAA', endColorstr='#1B1456' ,GradientType=0)";
    background: linear-gradient(90deg, rgba(3, 91, 170, 1) 0%, rgba(9, 73, 149, 1) 13.27%, rgba(17, 50, 121, 1) 34.6%, rgba(23, 33, 102, 1) 56.15%, rgba(26, 23, 90, 1) 77.87%, rgba(27, 20, 86, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#035BAA', endColorstr='#1B1456', GradientType=1);
    display: grid;
    margin-left: 102px;
    height: 100vh;
}

.container {
    height: 600px;
    width: 800px;
    border-radius: 20px;
    background-color: white;
    align-self: center;
    justify-self: center;
    /* display: grid; */
    grid-template-columns: 42% 58%;
}

.name {
  text-align: center;
}

.inner {
  display: inline-block;
}

#left {
  float: left;
  width: 70%;
}

#right {
  float: right;
  width: 30%;
}
