body {
  background-color: white;
}

.sidenav {
  height: 100%;
  top: 0;
  left: 0;
  overflow-x: hidden;
  position: fixed;
  border-right: solid 3px grey;
}

.sidenav_container {
  margin: 0;
  padding: 0;
}

.sidenav_item {
  list-style-type: none;
  margin: 0;
  height: 50px;
  width: 50px;
  background-size: cover;
}

.sidenav_icon {
  width: 100px;
  height: auto;
  color: black;
}

img {
    max-width: 100%;
    max-height: 100%;
}
