<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js "></script>
<script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
<div class="sidenav">
    <a href="/">
        <img class="sidenav_icon logo_icon" src="{{ url_for('static', filename='assets/logo.svg') }}" alt="logo icon ">
    </a>
    <a href="/articles">
        <img class="sidenav_icon articles_icon" src="{{ url_for('static', filename='assets/articles.svg') }}" alt="articles icon ">
    </a>
    <a href="/events">
        <img class="sidenav_icon calendar_icon" src="{{ url_for('static', filename='assets/calendar.svg') }}" alt="events icon ">
    </a>
    <a href="/submit">
        <img class="sidenav_icon pencil_icon" src="{{ url_for('static', filename='assets/pencil.svg') }}" alt="submit icon ">
    </a>
    {% if current_user %}
        <a href="/profile/{{ current_user.id }}">
            <img class="sidenav_icon profile_icon" src="{{ url_for('static', filename='assets/profile.svg') }}" alt="profile icon ">
        </a>
    {% else %}
        <a href="/login">
            <img class="sidenav_icon profile_icon" src="{{ url_for('static', filename='assets/profile.svg') }}" alt="profile icon ">
        </a>
    {% endif %}
    <div class="nav_gap"></div>
</div>
