<nav class="sidenav">
  <ul class="sidenav_container">
    <li class="sidenav_item" id="main_link">
      <a href="/">Main</a>
    </li>
    <li class="sidenav_item" style="background-image:url({{ url_for('static', filename='assets/articles.png') }});">
      <a href="/articles"></a>
    </li>
    <li class="sidenav_item" style="background-image:url({{ url_for('static', filename='assets/events.png') }});">
      <a href="/events"></a>
    </li>
    <li class="sidenav_item" style="background-image:url({{ url_for('static', filename='assets/submit.png') }});">
      <a href="/submit"></a>
    </li>
    {% if current_user %}
      <li class="sidenav_item" style="background-image:url({{ url_for('static', filename='assets/profile.png') }});">
        <a href="/profile/{{ current_user.id }}">  </a>
      </li>
    {% else %}
      <li class="sidenav_item" style="background-image:url({{ url_for('static', filename='assets/submit.png') }});">
        <a href="/login"></a>
      </li>
    {% endif %}
  </ul>
</nav>
