<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Roman Wing</title>
</head>

<body>

    <div class="topnav">
        <button class="expand_nav"><img class="topnav_icon" src="assets/stack.svg"></button>
        <h1 class="main_logo">ROMAN WING</h1>
        <input class="search_bar" type="text" placeholder="Search..." name="search">
        <button class="search_button" type="submit"><img class="topnav_icon" src="assets/search.svg"></button>

    </div>

    <div class="sidenav">
        <a class="close_nav" href="javascript:void(0)">&times;</a>
        <a class="active " href="#">
            <img class="sidenav_icon logo_icon " src="assets/logo.svg " alt="logo icon ">
        </a>
        <a href="# ">
            <img class="sidenav_icon " src="assets/articles.svg " alt="articles icon ">
        </a>
        <a href="# ">
            <img class="sidenav_icon " src="assets/calendar.svg " alt="events icon ">
        </a>
        <a href="# ">
            <img class="sidenav_icon " src="assets/pencil.svg " alt="submit icon ">
        </a>
        <a href="# ">
            <img class="sidenav_icon " src="assets/profile.svg " alt="profile icon ">
        </a>
        <div class="nav_gap"></div>
    </div>

    <div class="container ">
        <div class="about ">
            <h1>About</h1>
        </div>
        <div class="banner ">
            <div class="recent_articles ">
            </div>
            <div class="upcoming_events ">
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js "></script>
    <script type="text/javascript " src="main.js "></script>
</body>

</html>
