<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js "></script>
    <script type="text/javascript " src="{{ url_for('static', filename='js/main.js') }}"></script>
    <title>Roman Wing</title>
</head>

<body>
    {% block navbar %}
        {% include "includes/navbar.html" %}
    {% endblock %}

    <div class="container ">
        <div class="about ">
            <h1 class="main_logo">ROMAN WING</h1>
            <h3 class="main_slogan">The Latin School of Chicago’s political hub</h3>
            <p class="description">Roman Wing is a website where students can go to read, discuss, and engage in politics. View articles written by other students, or find political events around the city. Whether you’re right-wing or left-wing, all opinions and ideologies are accepted on Roman Wing.</p>
            {% if current_user %}
                <a class="submit_link" href="/submit">Submit an Article ➝</a>
            {% else %}
                <a class="submit_link" href="/login">Log in ➝</a>
            {% endif %}
        </div>
        <div class="banner ">
            <div class="tab_bar">
                <a class="article_tab active_tab">Recent Articles</a>
                <a class="event_tab">Upcoming Events</a>
            </div>
            {% for article in articles %}
                <div class="recent_articles">
                  <a class="article" href="/articles/{{ article.id }}">
                      <img src="{{ article.thumbnail_url }}">
                      <h2>{{ article.title }}</h2>
                      <p>{{ article.user() }}</p>
                      <div class="rating">
                          <div class="circle closed"></div>
                          <div class="circle closed"></div>
                          <div class="circle"></div>
                      </div>
                  </a>
                </div>
            {% endfor %}
            <div class="upcoming_events ">
            </div>
            <img class="wings" src="{{ url_for('static', filename='assets/wings.png') }}">
        </div>
    </div>
</body>

</html>
