{% extends "layout.html" %}
{% block title %}
  Log-In
{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block navbar %}
    {% include "includes/navbar.html" %}
{% endblock %}

{% block content %}
  {% if error %}
    {{ error }}
  {% endif %}
  <div class="background">
      <div class="container">
          <img class="wings" src="{{ url_for('static', filename='assets/wings.png') }}" alt="wings" style="opacity: 1;">
          <div class="login">
              <h1>User Login</h1>
              <form action="/login" method="POST">
                  <div class="input_container">
                      <img class="login_icon" src="{{ url_for('static', filename='assets/email.svg') }}"><input class="login_input" type="text" placeholder="Email" name="email" required=true>
                  </div>
                  <div class="input_container">
                      <img class="login_icon" src="{{ url_for('static', filename='assets/lock.svg') }}"><input class="login_input" type="password" placeholder="Password" name="password" required=true>
                  </div>
                  <button type="submit" class="login_button">Login</button>
                  <a class="account_link" href="/signup">Create an account ➝</a>
              </form>
          </div>
      </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js "></script>
  <script type="text/javascript " src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}
