{% extends "layout.html" %}

{% block title %}
  Your Profile
{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profile.css') }}">
{% endblock %}

{% block navbar %}
    {% include "includes/navbar.html" %}
{% endblock %}

{% block content %}
    {% if error %}
        {{ error }}
    {% endif %}
    <div class="background">
        <div class="container">
            <div class="name">
                <h1>{{ profile.full_name() }}</h1>
            </div>
            <div class="cont2">
                <div class="inner" id="left">
                    <div class="my_submissions">
                        {% for submission in profile.submissions() %}
                        <a href="/articles/{{ submission.id }}">
                            <div class="submission">{{ submission.title }}</div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="inner" id="right">
                    <a href="/submit">
                        <div class="create_submission">
                          <p>Create an Article</p>
                        </div>
                    </a>
                    {% if profile.is_admin %}
                        <a href="/submissions_box">
                            <div class="pending_submissions">
                                <p>Pending Submissions</p>
                            </div>
                        </a>
                        <a href="/create_event">
                            <div class="create_event">
                                <p>Create an Event</p>
                            </div>
                        </a>
                    {% endif %}
                  </div>
            </div>
        </div>
    </div>
{% endblock %}
