@font-face {
    font-family: DIN;
    src: url("fonts/D-DIN.otf")
}

body {
    margin: 0;
    padding: 0;
    font-family: DIN;
    color: darkblue;
}

.container {
    display: grid;
    grid-template-columns: 30% 70%;
    margin-left: 0px;
    transition: 0.5s;
}

.topnav {
    height: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    background-color: #F7F6F5;
}

.topnav button {
    background-color: #F7F6F5;
    border: none;
    display: inline-block;
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 0;
}

.topnav button:hover {
    opacity: 50%;
}

.topnav_icon {
    width: 30%;
}

.main_logo {
    display: inline-block;
    text-align: center;
    font-size: 60px;
    margin: 16px 0 0 0;
}

.search {
    display: inline-block;
    text-align: center;
}

.search_bar {
    display: none;
}

.sidenav {
    height: 100%;
    position: fixed;
    width: 0px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    border-right: solid #7A7A7A 2px;
    overflow-x: hidden;
    display: grid;
    grid-template-rows: 100px repeat(8, 1fr);
    transition: 0.5s;
}

.sidenav a {
    text-decoration: none;
    text-align: center;
    color: #818181;
    width: 50%;
    margin: 10px auto;
    transition: 0.3s;
}

.close_nav {
    font-size: 36px;
}

.close_nav:hover {
    color: #CCC;
}

.sidenav .active {
    grid-row: 2;
}

.sidenav .nav_gap {
    grid-row: 3 / span 3
}

.sidenav_icon {
    width: 70%;
    transition: 0.3s;
}

.sidenav_icon:hover {
    opacity: 0.5;
}

.logo_icon {
    width: 75%;
    filter: grayscale(100%);
    opacity: 0.8;
    transition: 0.3s;
}

.logo_icon:hover {
    filter: grayscale(0%);
    opacity: 1;
}
